@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --red-primary: hsl(0, 36%, 70%);
  --red-primary-op: hsla(0, 36%, 70%, 0.5);
  --soft-red-primary: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General Styles */
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
/* Utilities */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./images/icon-arrow.svg');
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  /*  
*     btn in active state:
*     background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)); 
  */
  height: 45px;
  width: 60px;
  border-radius: 23px;
  cursor: pointer;
}
.clr {
  clear: both;
}
/* Header */
#header {
  height: 85px;
  padding: 30px;
}
#header img {
  height: 22px;
}
.hero {
  height: 250px;
  width: 100%;
  background: url('./images/hero-mobile.jpg') no-repeat center/cover;
}
.hidden {
  display: none;
}
/* Main */
main {
  text-align: center;
}
.main-content {
  width: 85%;
  margin: 65px auto 0;
  height: 400px;
}
h1 {
  color: var(--dark-grayish-red);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.65rem;
}
h1 span {
  color: var(--red-primary);
  font-weight: 200;
}
p {
  color: var(--red-primary);
  line-height: 1.55;
  padding: 30px 0;
  font-size: 0.9rem;
}
.subscribe {
  position: relative;
  width: 100%;
}
.subscribe input {
  width: 100%;
  height: 45px;
  padding: 20px 25px;
  margin-bottom: 10px;
  color: var(--dark-grayish-red);
  border: 1px solid var(--red-primary-op);
  border-radius: 23px;
  background: transparent;
}
.subscribe input:focus {
  outline: none;
  border: 1.5px solid var(--red-primary);
}
.subscribe input::placeholder {
  color: var(--red-primary-op);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}
.subscribe .btn {
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 1px 5px 25px var(--red-primary);
}
#error-icon {
  position: absolute;
  top: 18px;
  right: 115px;
}
span#valid-msg {
  color: var(--soft-red-primary);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 24px;
}
footer {
  height: 50px;
  align-self: center;
}
.attribution {
  padding: 10px;
  height: 30px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* Desktop (1440px) */
@media (min-width: 800px) {
  body {
    height: 100vh;
    background: none;
  }
  .flex-container {
    flex-direction: row;
    height: 800px;
  }
  .container {
    max-width: 830px;
  }
  main {
    width: 60%;
    margin: 0 auto;
  }
  #header {
    width: 60%;
    margin: 70px auto 0;
    padding: 0 30px;
  }
  #header img {
    height: 2rem;
  }
  .hero {
    height: 800px;
    width: 610px;
    background: url('./images/hero-desktop.jpg') no-repeat;
  }

  /* Main */
  main {
    text-align: left;
  }
  .container {
    height: 800px;
    background: url('./images/bg-pattern-desktop.svg'),
      linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  }
  h1 {
    font-size: 4rem;
    margin-top: 75px;
  }
  p {
    font-size: 1rem;
    margin-bottom: 25px;
  }
  .subscribe input {
    height: 60px;
    border-radius: 30px;
  }
  .btn {
    height: 60px;
    width: 100px;
    border-radius: 30px;
    transition: all ease-out 0.5s;
  }
  .subscribe input::placeholder {
    font-size: 0.9rem;
  }
  .btn:hover {
    background: rgb(248, 205, 206);
    transform: scale(1.05);
  }
  footer {
    margin-top: 30px;
  }
}
